:root{
    --background : white;
    --text-primary : black;
    --button-bg: black;
    --button-text :white;
}

[data-theme = 'dark'] {
    --background : black;
    --text-primary : white;
    --button-bg: white;
    --button-text :black;
}

.light-dark-mode {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    transition: all .5s;
    height: 100vh;
}
.light-dark-mode p {
    color: var(--text-primary);
    transition: all .5s;
}